/*******************/
/* SIDEBAR STYLES */
/*******************/

.sidebar {
  width: 250px;
  background: $darkGray;
  color: $white;
  position: fixed;
  height: 100%;
  padding: 20px;
  left: 0;
  top: 0;
  overflow-y: auto;
  
  h2 {
    color: $blue;
    font-size: 22px;
    margin-bottom: 15px;
  }

  ul {
    list-style: none;
    padding: 0;
    
    li {
      margin-bottom: 10px;
      
      a {
        color: $white;
        text-decoration: none;
        font-size: 18px;
        &:hover {
          color: $blue;
        }
      }
    }
  }
}

// Push main content to the right
#main {
  margin-left: 270px; // Adjust to make space for sidebar
  padding: 20px;
}
