/***********/
/* SIDEBAR */
/***********/
.sidebar {
  background-color: black;
  color: white;
  padding: 15px;
  width: 250px;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
}

.sidebar h2 {
  color: blue;
}

.menu-item {
  list-style-type: none;
  margin: 10px 0;
}

.toggle-btn {
  background: white;
  border: 1px solid gray;
  cursor: pointer;
}

.submenu {
  display: none;
  margin-left: 20px;
}

.submenu.show {
  display: block;
}

.submenu li {
  list-style-type: none;
}

.submenu a {
  color: white;
  text-decoration: none;
}

#main {
  margin-left: 270px; /* Adjust based on sidebar width */
  padding: 20px;
}


